body {
    font-family: Arial, sans-serif;
    margin:10px;
    padding: 0px;
    display: flex;
    flex-direction:column;
    gap: 10px;
}

h1 {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

p {
    padding: 20px;
}

nav ul {
    background-color: #f4f4f4;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #886f6f;
    color: whitesmoke;
}

img {
    width: 200px;
    margin: 0px auto;
}

form {
    margin: 0px auto;
}
input {
    padding: 10px;
}